@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

header {
  background: rgb(71, 130, 185);
  color: white;
  text-align: center;
  height: 180px;
  font-family:'Roboto Mono', monospace;
  border:5px  solid rgb(7, 36, 63);
}
header h1{
    font-weight: bold;
    font-size: 36pt;
}
header h2{
    font-size: 20pt;
    font-style: italic;
}

nav{
  height: 70px;
  border: 5px solid rgb(7, 36, 63);
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: rgba(71, 130, 185);
  padding-top: 40px;
}

nav a{
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(239, 239, 241);
    font-size: 20pt;
    font-family: sans-serif;
    text-decoration: none;
}

footer{
  background: hsl(229, 65%, 60%);
  text-align: center;
  color: white;
  font-size: 17pt;
  border: 5px solid rgb(7, 36, 63);

}
footer img{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-left: 20px;
}

section, form{
    background: rgb(71, 130, 185);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    text-align: center;
    padding-top: 20px;
    border: 5px solid rgb(7, 36, 63);
}

section p{
    font-size: 20pt;
}

